@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

.App {
  text-align: center;
}
div {
  display: block;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1.6vmin);
}

#quote-box {
  border-radius: 8px;
  width: 450px;
  padding: 35px 45px;
  display: table;
  background-color: #fff;
}
.quote, #text{
margin-right: 5px;
font-size: 1.2em;
}
#text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 35px;
}
#author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 5px;
  font-size: 1.1em;
  text-align: right;
  float: right;
  margin-bottom: 20px;
} 

.bigIcon {
  font-size: 45px;
}
#tweet-quote {
  float: left;

}
#new-quote {
  float: right;
  font-size: 15px;
  padding: 10px;
  border: none;
}
footer a, #reference {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-top: 5px;

}
#text, #author, a {
  font-family: 'Lato', sans-serif;
}